<footer>
	<style scoped>
		footer {
			background-color: #553333;
			color: #fff;
			padding: 20px 10px;
			margin-top: 20px;
		}
		.columns {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: space-evenly;
			margin-bottom: 15px;
		}
		.column a {
			color: #fff;
			text-decoration: none;
		}
		.copyright {
			text-align: center;
		}
		.copyright img {
			margin-left: 10px;
		}
	</style>
	<div class="columns">
		<div class="column">
			<ul>
				<li>
					<a href="#" class="text-white">Return policy</a>
				</li>
				<li>
					<a href="#" class="text-white">Search our store</a>
				</li>
				<li>
					<a href="#" class="text-white">Blog</a>
				</li>
				<li>
					<a href="#" class="text-white">Contact us</a>
				</li>
				<li>
					<a href="#" class="text-white">About us</a>
				</li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li>
					<a href="#" class="text-white">Facebook</a>
				</li>
				<li>
					<a href="#" class="text-white">Twitter</a>
				</li>
				<li>
					<a href="#" class="text-white">Instagram</a>
				</li>
				<li>
					<a href="#" class="text-white">Youtube</a>
				</li>
				<li>
					<a href="#" class="text-white">Google+</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="copyright">
	© 2022-2022 Boomkart.com
	<img
		src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/payment-method_69e7ec.svg"
	/>	
	</div>
	
</footer>
